
<h1 class="text-center">Articles</h1>

  <% @articles.each do |art| %>

    <%= render "articlecard", article: art %>

  <% end %>

<br>

<%= link_to 'New Article', new_article_path, class: "btn btn-outline-success" %>
