<h1 class="text-center m-4">Edit Your account settings</h1>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
<br>
<%= link_to 'delete account', user_path(@user), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure? Your account and all it's articles will be removed, this can not be undone!"} %>
