

<div class="p-5 my-5 rounded-3 col-sm-8 mx-auto text-center" id="frontpage_jumbotron">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Welcome to our tutorial blog</h1>
        <p class="col-md-8 fs-4 mx-auto">This website is part of a tutorial from udemy and should teach me ruby on rails. You will only find nonsense articles and other trash here.</p>
        <%= link_to 'go to articles', articles_url, class: "btn btn-primary" %></td>
        <%= link_to 'sign up', signup_path, class: "btn btn-success" %></td>
      </div>
    </div>