@import 'bootstrap/dist/css/bootstrap';


:root {
    --color-darkbgrey:rgba(26, 35, 44, 0.842);
    --color-lightbgrey:rgb(134, 165, 196);
    --color-lightgrey:rgb(170, 175, 190);
    --color-deepblue: rgb(30, 110, 190);
}

/*-----body -----*/
body {
    background-color: var(--color-lightbgrey);
}


/*   ------ cutomisation for the navbar -------------*/

.navbar {
    background-color: var(--color-darkbgrey) ;
}

.nav-link {
    color: var(--color-lightbgrey) !important;
}
.nav-link:hover {
    font-weight: bold;
}
.nav-link.disabled {
    font-style: italic;
    font-weight: lighter;
    color: var(--color-lightgrey) !important;
}


.navbar-brand {
    color: var(--color-lightbgrey) !important;

    float: left !important; 
    font-size: 1.7em !important;
    text-transform: uppercase !important;
    letter-spacing: -1px !important;
    font-weight: bold !important;

    font-family: "Papyrus", fantasy, serif !important;
}

.dropdown-item {
    color: var(--color-darkbgrey) !important;
}



/*------- pages styling ----- */

#frontpage_jumbotron {
    background-image: asset-url("homepage_image.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;

    color: var(--color-deepblue) ;
    font-weight: bold;
}



/*------- text --------*/
.normal-text {
    color: black;
    text-decoration: none;
}

.normal-text:hover {
    font-weight: bold;
}

.subtitle-text {
    color: var(--color-lightgrey);
    text-decoration: none;
    font-weight: lighter;
    font-style: italic;
}



/*------ forms -----*/
#form-box {
    background-color: var(--color-deepblue);
    color: var(--color-lightbgrey);
}



/*-----for pagenumbers ----*/
.digg_pagination {
    /*background: white; */
    cursor: default;
    width: max-content;  /* added this to be able to center
    /* self-clearing method: */ }
    .digg_pagination a, .digg_pagination span, .digg_pagination em {
      padding: 0.2em 0.5em;
      display: block;
      float: left;
      margin-right: 1px; }
    .digg_pagination .disabled {
        font-style: italic;
        font-weight: lighter;
      color: var(--color-lightgrey);
      border: 1px solid var(--color-lightgrey); }
    .digg_pagination .current {
      font-style: normal;
      font-weight: bold;
      background: var(--color-deepblue);
      color: var(--color-lightbgrey);
      /* border: 1px solid #2e6ab1; */
    }
    .digg_pagination a {
      text-decoration: none;
      color: var(--color-deepblue);
      border: 1px solid var(--color-lightgrey);
      border-radius: 5px; /* added rounded borders */
    }
      .digg_pagination a:hover, .digg_pagination a:focus {
        color: var(--color-darkbgrey);
        border-color: var(--color-darkbgrey);
    }
    .digg_pagination .page_info {
      background: #2e6ab1;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center; }
      .digg_pagination .page_info b {
        color: #000033;
        background: #6aa6ed;
        padding: 0.1em 0.25em; }
    .digg_pagination:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; }
    * html .digg_pagination {
      height: 1%; }
    *:first-child + html .digg_pagination {
      overflow: hidden; }
